<h1>Listing posts</h1>

<p>by category:</p>

<table>
  <% @posts.each do |post| %>
      <tr><td><strong><%= post.title %></strong></td></tr>
      <tr><td><%= post.body[0,128] + " (...)" %></td></tr>
	  <tr><td>
	      <%= link_to 'Show', post %>
	  </td></tr>
      </tr>
   <% end %>
</table>

<br/>

